// theme colors
$white: #ffffff;
$snow-white: #fafafa;
$dirty-white: #e4f3f7;
$light-gray: #eeeeeeaf;
$tag-gray: #8e8e93;
$black: #000000;
$charcoal-black: #323232;
$charcoal-dark: #161616;
$aero-blue: #72b9da;
$turquoise-blue: #54b2cf;
$deep-blue: #1f1f37;
$deep-blue-50: rgba(31, 31, 55, 0.5);
$maroon: #4e2c2c;
$maroon-light: rgba(78, 44, 44, 0.8);
$coffee-brown: #371f1f;
$light-pink: #fcbcb2;
