.textXL {
  font-size: 70px;
}
.textL {
  font-size: 60px;
}
.textML {
  font-size: 50px;
}
.textM {
  font-size: 40px;
}
.textMS {
  font-size: 30px;
}
.textS {
  font-size: 20px;
}
.textXS {
  font-size: 10px;
}